@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.cdnfonts.com/css/cascadia-code');

:root {
    --copy-text: black;
    --copy-color: #0096FF;
    --copy-hover-color: #87CEEB;
    --create-color: #0096FF;
    --create-hover-color: #87CEEB;
    --join-color: #87CEEB;
    --join-hover-color: #0096FF;
    --leave-color: #B90000;
    --leave-hover-color: #FF5733;
}

body {
    font-family: Inter, system-ui, -apple-system;
    font-weight: 500;
}

.homePageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #FF6969;
    height: 100vh;
}

.formWrapper {
    display: flex;
    background: #282a36;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
}

footer {
    position: fixed;
    bottom: 0;
}

footer a {
    color: var(--create-hover-color);
}

.inputGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainLabel {
    margin-bottom: 20px;
    margin-top: 0;   
}

.homePageLogo {
    height: 80px;
    margin-bottom: 30px;
}

.inputBox {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 14px;
    background: #FFF5E1;
    font-size: 16px;
    font-weight: bold;
}

.btn {
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.copyBtn {
    background-color: var(--copy-color);
    color: white;
}

.copyBtn:hover {
    background-color: var(--create-color);
    color: var(--copy-text);
}

.joinBtn {
    background: var(--join-color);
    width: 100px;
}

.joinBtn:hover {
    background: var(--join-hover-color);
    color: white;
}

.leaveBtn {
    background: var(--leave-color);
    font-weight: bold;
    color: white;
}

.leaveBtn:hover {
    background: var(--leave-color);
    color: var(--copy-text);
    transition: all 0.2s ease-in-out;
}

.createInfo {
    margin: 0 auto;
    margin-top: 20px;
}

.createNewBtn {
    color: #40be70;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-weight: 500 !important;
}

.createNewBtn:hover {
    color: #4aed88;
    border-color: #4aed88;
}

footer a:hover {
    color: var(--create-color);
}

.mainWrap {
    display: grid;
    height: 100vh;
}

.mainWrap.default {
    grid-template-columns: 125px 1fr;
}

.mainWrap.selected {
    grid-template-columns: 125px 1fr 120px;
}

@media screen and (min-width: 480px) {
    .mainWrap {
        display: grid;
        grid-template-columns: 125px 1fr 120px;
        height: 100vh;
    }
}

.aside {
    background: #1c1e29;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 125px;
}

.left {
    order: 1;
}

.asideInner {
    flex: 1;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.roomsList {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.room {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.room-avatar {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.clientsList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.client {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.roomId {
    margin-top: 10px;
}

.userName {
    margin-top: 10px;
}

.logo {
    border-bottom: 1px solid #424242;
    padding-bottom: 10px;
}

.logoImage {
    height: 60px;
}

.seLang {
    border: none;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align-last: center;
}

.languageSelector {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.languageSelector select {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    border: none;
    border-radius: 20px;
    background-color: #21222c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    color: #fff; /* Change text color */
    opacity: 0.8; /* Change opacity */
    outline:none;
}

.languageSelector select:focus {
    border-color: #373949;
}

.languageSelector select:hover {
    background-color: #373949;
}

/* Dropdown menu styling */
.languageSelector select option {
    background-color: #16171d; /* Change background color of options */    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #DCDCDC; /* Change text color of options */
    opacity: 0.8; /* Change opacity */
    text-align: left;
}

/* Change background color and text color of selected option */
.languageSelector select option:checked {
    background-color: #2c2d3b; /* Change background color of selected option */
}

.languageSelector select:hover option:hover {
    background-color: #2c2d3b !important;
}

.themeSelector {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    
}

.themeSelector select {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    border: none;
    border-radius: 20px;
    background-color: #21222c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    color: #fff; /* Change text color */
    opacity: 0.8; /* Change opacity */
    outline:none;
}

.themeSelector select:focus {
    border-color: #373949;
}

.themeSelector select:hover {
    background-color: #373949;
}

/* Dropdown menu styling */
.themeSelector select option {
    background-color: #16171d; /* Change background color of options */    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #DCDCDC; /* Change text color of options */
    opacity: 0.8; /* Change opacity */
    text-align: left;
}

/* Change background color and text color of selected option */
.themeSelector select option:checked {
    background-color: #2c2d3b; /* Change background color of selected option */
}

.themeSelector select:hover option:hover {
    background-color: #2c2d3b; /* Change hover background color */
}

.divider1 {
    width: 100px;
    height: 5px;
    background-color: #ccc;
}

.divider2 {
    width: 100px;
    height: 5px;
    background-color: #ccc;
    margin: 20px 0;
}

.newRoomBtn {
    width: 65px;
    height: 65px;
    background-color: #5B6CF7;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.newRoomBtn:hover {
    background-color: #4052EC;
}


.leaveBtn {
    width: 100%;
    margin-top: 20px;
}

.membersWrap {
    background: #1c1e29;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
}

.membersList {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.CodeMirror {
    font-family: 'Cascadia Code', sans-serif !important;
    height: calc(100vh - 20px);
    width: 100%;
    font-size: 16px;
    line-height: 1.6;
    padding-top: 20px;
}

@media screen and (min-width: 480px) {
    .CodeMirror {
        min-height: calc(100vh - 20px);
        width: 100%;
        font-size: 16px;
        line-height: 1.6;
        padding-top: 20px;
    }
}

.verticalDiv {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 10px;
    gap: 60px
}

.userSection {
    display: flex;
    align-items: center;
}

.userSectionUserName {
    margin-left: 10px;
    font-size: 23px;
}

/* .homeInputWrapper {
    display: flex;
}

.homeButtonWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px */
/* } */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-inner {
    padding: 40px; 
    background: #1c1e29;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    max-width: 400px; 
    max-height: 10.5vh; 
    width: 100%;
    height: 60%; 
    overflow: hidden;
}

.popup-inner .close-btn {
    position: absolute;
    top: 382px;
    right: 715px; 
    cursor: pointer; 
    font-size: 23px;
    font-weight: 600;
    width: 34px;
    height: 34px; 
    border-radius: 40%; 
    background-color: #fff;
    border: none; 
    text-align: center; 
    line-height: 29px; 

}

.close-icon {
    width: 20px;
    height: 20px;
}

.styleBtn {
    background-color: #5B6CF7;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 40px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.styleBtn:hover {
    background-color: #4052EC;
}
